DATABASE_URL='postgres://name:password@localhost:5432/name?sslmode=disable'
FRONTEND_DIR=../frontend
SERVER_ADDR=':8080'
TURN_USERNAME=name
TURN_CREDENTIAL=password
TURN_URL_UDP=turn:your_domain:your_selected_port
TURN_URL_TCP=turn:your_domain:your_selected_port?transport=tcp
TURN_URL_TLS=turns:your_domain:other_your_selected_port
STUN_URL=stun:your_domain:your_selected_port